@charset 'UTF-8';

/*
1. config
2. mixins
3. plugins
4. base
5. components
6. header
7. footer
8. pages
9. demo
*/


/* 1. config */
@import 'config/variables';

// Color
$primary-color: #20c7d9;
$secondary-color: #222;

/* 2. mixins */
@import 'mixins/breakpoints';
@import 'mixins/core';
@import 'mixins/buttons';

// Demo Variables
@import 'style_config';


/* 3. plugins */
@import 'components/slider';
@import 'components/nouislider';

/* 4. base */
@import 'base/base';
@import 'base/helper';
@import 'base/type';
@import 'base/layout';
@import 'base/grid';
@import 'base/spacing';

/* 5, components */
@import 'components/alerts';
@import 'components/animation';
@import 'components/banners';
@import 'components/buttons';
@import 'components/blog';
@import 'components/categories';
@import 'components/comments';
@import 'components/font-icons';
@import 'components/forms';
@import 'components/icon-boxes';
@import 'components/icons';
@import 'components/accordion';
@import 'components/instagram';
@import 'components/minipopup';
@import 'components/overlay';
@import 'components/pagination';
@import 'components/page-header';
@import 'components/popups';
@import 'components/products';
@import 'components/product-single';
@import 'components/sidebar';
@import 'components/sidebar-shop';
@import 'components/social-icons';
@import 'components/tabs';
@import 'components/tooltip';
@import 'components/titles';
@import 'components/widgets';

/* 6. header */
@import 'base/header/header';
@import 'base/header/dropdown';
@import 'base/header/menu';

/* 7. footer */
@import 'base/footer/footer';

/* 8. Pages */
@import 'pages/shop';
@import 'pages/product-single';
@import 'pages/cart';

/* 9. Demos */
@import 'style_custom';


// Customer Forms
.account {
  .nav-tabs {
    border-right: none;
  }

  .tab-pane {
    padding: 0 0 0 2em;
  }

  .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2em;
  }

  .header, .form-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .header.secondary-header {
    margin-top: 2rem;
  }

  .btn {
    color: $white-color;
    border: 2px solid $primary-color;
    background-color: $secondary-color;
    display: inline-block;
    outline: 0;
    border-radius: 0;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: $second-font-family;
    letter-spacing: -0.025em;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s, border-color .3s, background-color .3s, box-shadow .3s;
    white-space: nowrap;
    cursor: pointer;

    &.btn-link {
      background: none;
      color: $secondary-color;
      border:none;
      padding: 1em 0;
    }
  }

  fieldset {
    border: none;
    margin: 2rem 0;
  }

  .form-field {
    margin-bottom: 2rem;
  }

  .form-input {
    font-size: 1.3rem;
    font-family: Poppins,sans-serif;
    transition: background-color .3s, border-color .3s;
    color: $grey-color;
    display: block;
    width: 100%;
    min-height: 4rem;
    padding: .85rem 2rem;
    border: 1px solid $border-color;
    line-height: 1.5;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
  }

  .shipping-addresses-list {
    ul {
      list-style: none;

      li {
        background: #f6f7f9;
        border: 1px solid $border-color;
        padding: 1em 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .badge {
          background: $secondary-color;
          padding: .3em .75em;
          border-radius: 1em;
          font-size: 8pt;
          color: $white-color;
          margin-right: .5em;
        }
      }
    }
  }
}

.order-history{
  justify-content: center;
  text-align: center;

  .orders-table{

    .order-actions{
      a {
        @media(min-width:480px) {
          margin-left: 1.5rem;
          margin-right: 1.5rem;
        }
      }
    }

    thead{
      border: none !important;
    }

    tr{
      border-bottom: 1px black solid;

      td{
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}


@media (max-width: 766px) {
  .tab-pane {
    padding-left: 0px !important;
  }
}

.loyalty-points{
  line-height: 1.4;
}

.color-swatch {
  .swatch {
    display: block;
    width: 25px;
    height: 25px;
    border: solid 2px #FFF;
    @include border_radius(50%);
    cursor: pointer;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + .swatch {
    @include box_shadow(0 0 0 1px #242424);
  }
}